<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TaskFlow{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<header>
    <div class="container header-container">

        <div class="logo">
            <h1>📝 TaskFlow</h1>
        </div>

        <nav>

            <a href="{{ url_for('tasks.view_tasks') }}">
                Dashboard
            </a>

            {% if 'user' in session %}
                <a href="{{ url_for('auth.logout') }}">
                    Logout
                </a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">
                    Login
                </a>
            {% endif %}

        </nav>

    </div>
</header>

<main class="container">

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</main>

<footer>
    <div class="container">
        <p>
            © 2026 TaskFlow | Built with Flask & SQLite
        </p>
    </div>
</footer>

</body>
</html>